@charset "UTF-8";
/*変数設定*/
main {
  /*.about 閉じ*/
  /*.item　閉じ*/
}
main .about {
  position: relative;
  height: 100vh;
  padding: 30rem;
  /*article 閉じ*/
}
main .about article {
  width: 60rem;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*.about-box閉じ*/
}
main .about article img {
  width: 100%;
}
main .about article .about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .about article .about-box h2 {
  font-size: 30px;
  margin: 2rem 0;
}
main .about article .about-box P {
  display: block;
  width: 56rem;
  height: auto;
}
main .item {
  /*.items-contents　閉じ*/
}
main .item .items-contents {
  /*.item-images閉じ*/
}
main .item .items-contents h2 {
  font-size: 30px;
}
main .item .items-contents .item-images {
  display: flex;
  justify-content: center;
  /*.item-content閉じ*/
}
main .item .items-contents .item-images .item-content img {
  width: 30rem;
  height: auto;
}

/*main 閉じ*/
