@charset "utf-8";

/*変数設定*/
$green: rgba(153,171,78,0.3);
$white: rgba(245,243,242,0.75);
$gray: rgba(245,243,242,0.5);
$yellow: rgba(255,217,0,1);
$red: rgba(188,8,8,1);
$height: 100vh;
$title: 30px;

main{
    .about{
        position: relative;
        height: 100vh;
        padding: 30rem;
        article{
            width: 60rem;
            height: 50rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            
            img{
                width: 100%;
                
            }
            .about-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            h2{
                font-size: $title;
                margin: 2rem 0;
            }
            P{
                display: block;
                width: 56rem;
                height: auto;
            }
                
          }/*.about-box閉じ*/
            
            
        }/*article 閉じ*/
    }/*.about 閉じ*/
    
      .item{
          .items-contents{
              h2{
                  font-size: $title;
              }
              .item-images{
                  display: flex;
                  justify-content: center;
                  
                  .item-content{
                      img{
                          width: 30rem;
                          height: auto;
                      }
                      
                      
                      
                  }/*.item-content閉じ*/
                  
                  
              }/*.item-images閉じ*/
              
              
          }/*.items-contents　閉じ*/
                
    }/*.item　閉じ*/
    
}/*main 閉じ*/