@charset "utf-8";

/*変数設定*/
$green: rgba(153,171,78,0.3);
$white: rgba(245,243,242,0.75);
$gray: rgba(245,243,242,0.5);
$yellow: rgba(255,217,0,1);
$red: rgba(188,8,8,1);
$height: 100vh;
$title: 30px;

main{
    .about{
        position: relative;
        article{
            width: 60rem;
            height: 100%;
            position: absolute;
            top: 20rem;
            left: 15rem;
            right: 0;
            bottom: 0;
            margin: auto;
            
            img{
                width: 90%;
            }
            h2{
                font-size: $title ;
                text-align: center;
            }
            P{
                display: block;
                width: 36rem;
                height: auto;
            }
          
            
            
        }/*article 閉じ*/
    }/*.about 閉じ*/
    
      .item{
          .items-contents{
              h2{
                  font-size: $title;
              }
              .item-images{
                  display: flex;
                  justify-content: center;
                  
                  .item-content{
                      img{
                          width: 30rem;
                          height: auto;
                      }
                      
                      
                      
                  }/*.item-content閉じ*/
                  
                  
              }/*.item-images閉じ*/
              
              
          }/*.items-contents　閉じ*/
                
    }/*.item　閉じ*/
    
}/*main 閉じ*/