@charset "utf-8";

/*変数設定*/
$green: rgba(153,171,78,0.3);
$white: rgba(245,243,242,0.75);
$gray: rgba(245,243,242,0.5);
$yellow: rgba(255,217,0,1);
$red: rgba(188,8,8,1);
$height: 100vh;
$title: 30px;

main{
    .about{
        position: relative;
        height: $height;
        padding-bottom: 80rem;
        article{
            width: 60rem;
            height: 50rem;
            position: absolute;
            top: -10rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            
            img{
                width: 100%;
                
            }
            .about-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            h2{
                font-size: $title;
                margin: 2rem 0;
            }
            P{
                display: block;
                width: 56rem;
                height: auto;
            }
                
          }/*.about-box閉じ*/
            
            
        }/*article 閉じ*/
    }/*.about 閉じ*/
    
      .item{
          height: $height;
          padding-bottom: 60rem;
          .items-contents{
              
              h2{
                  font-size: $title;
                  margin-bottom: 4rem;
                  text-align: center;
              }
              .item-images{
                  display: flex;
                  justify-content: center;
                  
                  .item-content{
                      margin-left: 1rem;
                      img{
                          width: 26rem;
                          height: auto;
                          margin-bottom: 2rem;
                      }
                      .item-box{
                          display: flex;
                          flex-direction: column;
                          align-items: flex-end;
                          
                          h3{
                              font-size: 20px;
                              margin-bottom: 0.5em;
                          }
                          p{
                              background-color: $gray;
                              font-size: 18px;
                          }
                          
                          
                          
                      }/*.item-box*/                   
                  }/*.item-content閉じ*/
              }/*.item-images閉じ*/
          }/*.items-contents　閉じ*/
    }/*.item　閉じ*/
    
    
    .thought{
        height: 100vh;
        padding-bottom: 100rem;
        position: relative;
             h2{
                    font-size: $title;
                    text-align: center;
                    position: relative;
                    padding-top: 2rem;
                    margin-bottom: 10rem;
                }
             h2::before{
                content: "";
                border: 1px solid #000;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 10%;
                height: 1px;
               }
             h2::after{
                content: "";
                border: 1px solid #000;
                position: absolute;
                top: 6rem;
                left: 0;
                right: 0;
                margin: auto;
                width: 10%;
                height: 1px;
               } 
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            p{
                font-size: 18px;
                margin-bottom: 1rem;
                display: block;
                width: 36rem;
                margin-bottom: 2rem;
            }
            ul{
                margin-bottom: 2rem;
                li{
                    font-size: 15px;
                }
            }
        }/*article*/
        .thought-img{
            width: 60rem;
            height: 50rem;
            position: absolute;
            top: 20rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            img{
                width: 100%;
            }
            p{
                text-align: center;
                margin-top: 2rem;
            }
        }/*.thought-img閉じ*/
        .thought-text{
            position: absolute;
            top: 90rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 45rem;
            height: 50rem;
            h3{
                font-size: 20px;
            }
            p{
                margin-bottom: 2rem;
            }
            
            
        }/*.thought-text閉じ*/              
     }/*.thought閉じ*/
    
}/*main 閉じ*/