@charset "utf-8";

/*変数設定*/
$green: rgba(153,171,78,0.3);
$white: rgba(245,243,242,0.75);
$gray: rgba(245,243,242,0.5);
$yellow: rgba(255,217,0,1);
$red: rgba(188,8,8,1);
$height: 100vh;
$title: 30px;


.story{
    height: $height;
    margin-top: 20rem;
    padding-bottom: 80rem;
    background-color: $green;
    position: relative;
    
    article{
        background-color: #fff;
        width: 96%;
        height: 96%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        
        h2{
            font-size: $title;
            position: relative;
            text-align: center;
            margin-top: 4rem;
            
            .story-font1{
                font-weight: bold;
                margin-left: 1rem;
                font-size: 32px;
            }
            .story-font2{
                font-size: 24px;
                margin-left: 1rem;
            }
        }
        h2::before{
            content: "";
            border: 1px solid #000;
            width: 56%;
            height: 1px;
            position: absolute;
            top: 4rem;
            left: 0;
            right: 0;
            margin: auto;
        }
        nav{
            display: flex;
            justify-content: center;
            margin-top: 10rem;
            ul{
                margin-left: 2rem;
                
                li{
                    background-color: #D0D0D0;
                    width: 20rem;
                    height: 6rem;
                    margin-bottom: 2rem;
                    position: relative;
                    h3{
                        font-size: 26px;
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;
                    }
                    p{
                      position: absolute;
                      top: 1rem;
                      left: 1rem;
                    }
                }
            }
        }
        
    }/*articlet閉じ*/
}/*.story閉じ*/