@charset "utf-8";

/*変数設定*/
$green: rgba(153,171,78,0.3);
$white: rgba(245,243,242,0.75);
$gray: rgba(245,243,242,0.5);
$yellow: rgba(255,217,0,1);
$red: rgba(188,8,8,1);
$height: 100vh;
$title: 30px;
/*
$font:;
*/

header{
    background-color: $green;
    h1{
        img{
            width: 8%;
            margin: 2rem;
        }
    }
    nav{
        ul{
            display: flex;
            position: absolute;
            top: 3rem;
            right: 3rem;
            li{
                margin-left: 2rem;
            }

        }
    }
}

/*max-width 768px*/
@media (max-width:768px){
     :root {/*ハンバーガーメニューの設定*/
          --hamburger-menu-size: 10%; /* メニューの大きさ */ 
          --hamburger-menu-padding: 15px;  
          --hamburger-menu-border-px: 5px; /* 線の太さ */
          --hamburger-menu-border-color: #342534; /* 線の色 */
          --hamburger-menu-transition: 0.3s; /* アニメーション秒数 */
        }

    header{
        position: relative;
        h1{
            img{
                width: 30%;
                margin-top: 2rem;
            }
            
        }
        nav{
            display: none;
        }
         
        /* ここから */
       

        .hamburger-menu {
          margin: 10px 0 auto; /* 中央寄せしたいだけ */
          cursor: pointer;
          position: absolute;
          top: 1.5rem;
          right: 1rem;
          width: 4rem;
          height: 4rem;
          background-color: #fff;
        }


        .hamburger-menu-line {
          position: absolute;
          transition: var(--hamburger-menu-transition);
          width: calc(100% - var(--hamburger-menu-padding) * 2);
          height: var(--hamburger-menu-border-px);
          background-color: var(--hamburger-menu-border-color);
        }


        .line-top {
          top: var(--hamburger-menu-padding);
          left: var(--hamburger-menu-padding);
        }

        .line-middle {
          top: calc(50% - var(--hamburger-menu-border-px)/2);
          left: var(--hamburger-menu-padding);
        }

        .line-bottom {
          bottom: var(--hamburger-menu-padding);
          left: var(--hamburger-menu-padding);
        }


        .hamburger-menu-active > .line-top {
          top: calc(50% - var(--hamburger-menu-border-px)/2);
          transform: rotate(45deg);
        }

        .hamburger-menu-active > .line-middle {
          width: 0;
          height: 0;
          left: var(--hamburger-menu-padding);
        }

        .hamburger-menu-active > .line-bottom {
          top: calc(50% - var(--hamburger-menu-border-px)/2);
          transform: rotate(-45deg);
        }
        /* ここまで */
        
    }/*header*/
    
}/*@media (max-width:768px)閉じ*/