@charset "UTF-8";
/*変数設定*/
/*
$font:;
*/
header {
  background-color: rgba(153, 171, 78, 0.3);
}
header h1 img {
  width: 8%;
  margin: 2rem;
}
header nav ul {
  display: flex;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
header nav ul li {
  margin-left: 2rem;
}
