@charset "UTF-8";
/*変数設定*/
/*
$font:;
*/
#wrapper > nav img {
  /*一時的に設定*/
  width: 10%;
}

.sns-icons img {
  width: 10%;
}

#wrapper {
  width: 100%;
  font-size: 12px;
  color: #000;
  box-sizing: border-box;
  /*header閉じタグ*/
  /*main閉じタグ*/
}
#wrapper header {
  height: 100vh;
  /*sectionの閉じタグ*/
  /*articleの閉じタグ*/
}
#wrapper header section {
  display: flex;
  justify-content: space-between;
  width: 85rem;
}
#wrapper header section h1 {
  display: inline-block;
  width: 50rem;
  margin: 1rem 0;
  margin-left: 5%;
}
#wrapper header section h1 img {
  width: 13%;
}
#wrapper header section nav ul {
  display: flex;
  font-size: 140%;
  width: 28rem;
  margin: 2rem 0;
}
#wrapper header section nav ul li {
  margin-left: 5%;
}
#wrapper header article .title {
  background-color: rgba(245, 243, 242, 0.75);
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
  position: absolute;
  top: 20rem;
  left: 2rem;
}
#wrapper header article .title h2 {
  text-shadow: 1px 2px 3px #242322;
  font-size: 30px;
  text-align: center;
  margin-top: 4rem;
}
#wrapper header article .title h2 .smile {
  color: #ffd900;
}
#wrapper header article .title h2 span {
  font-size: 36px;
}
#wrapper header article .title a {
  font-size: 20px;
  border: 1px solid #000;
  padding: 20px;
  position: absolute;
  top: 12rem;
  left: 5rem;
}
#wrapper header .title-contents {
  overflow: hidden;
}
#wrapper header .title-contents .slider {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#wrapper header .title-contents .slider img {
  width: 100vw;
  height: 89%;
}
#wrapper main {
  /*.concept閉じタグ*/
  /*.item閉じタグ*/
  /*.sns閉じタグ*/
  /*.usato閉じタグ*/
}
#wrapper main .concept, #wrapper main .sns, #wrapper main .event {
  background: rgba(153, 171, 78, 0.3);
}
#wrapper main .concept, #wrapper main .item, #wrapper main .sns, #wrapper main .usato, #wrapper main .event, #wrapper main .column {
  height: 100vh;
}
#wrapper main .concept {
  position: relative;
  z-index: -1;
}
#wrapper main .concept article {
  position: absolute;
  width: 50rem;
  height: 30rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  font-size: 22px;
}
#wrapper main .concept article h2 {
  text-align: center;
  position: relative;
}
#wrapper main .concept article h2.concept_title::before {
  content: "";
  border: 2px solid lightgray;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 0;
  width: 100%;
  height: 1px;
}
#wrapper main .concept article .concept_title {
  font-weight: bold;
  font-size: 22px;
}
#wrapper main .concept article .concept_title span {
  z-index: 1;
  display: inline-block;
  padding: 1rem;
}
#wrapper main .concept article .concept_title2 {
  font-size: 30px;
  margin: 1rem 0 3rem 0;
}
#wrapper main .concept article .botton {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#wrapper main .concept article .botton a {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: center;
}
#wrapper main .concept article .contener {
  width: 100%;
  height: 20%;
  background: #fff;
  position: relative;
}
#wrapper main .concept article .contener h2 {
  text-align: center;
}
#wrapper main .concept article .contener .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0.3;
  background-color: #99AB4E;
}
#wrapper main .item {
  position: relative;
  /*.items-contents閉じタグ*/
}
#wrapper main .item .items-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60rem;
  height: 40rem;
  /*.item-images閉じタグ*/
}
#wrapper main .item .items-contents h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 6rem;
}
#wrapper main .item .items-contents .item-images {
  display: flex;
  justify-content: center;
  /*.item-content閉じタグ*/
}
#wrapper main .item .items-contents .item-images .item-content {
  margin: 0 1rem;
  /*.item-box閉じタグ*/
}
#wrapper main .item .items-contents .item-images .item-content img {
  width: 28rem;
  height: auto;
}
#wrapper main .item .items-contents .item-images .item-content .item-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
#wrapper main .item .items-contents .item-images .item-content .item-box h3 {
  font-size: 20px;
}
#wrapper main .item .items-contents .item-images .item-content .item-box p {
  font-size: 18px;
  background-color: rgba(245, 243, 242, 0.5);
  padding: 10px;
  text-align: right;
  display: block;
  width: 16rem;
}
#wrapper main .sns {
  position: relative;
  padding-bottom: 90rem;
  /*.sns-contents閉じタグ*/
}
#wrapper main .sns h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}
#wrapper main .sns .sns-text {
  display: flex;
  justify-content: center;
}
#wrapper main .sns .sns-text h3 {
  font-size: 20px;
  display: block;
  width: 60rem;
  height: 6rem;
  line-height: 1.2;
}
#wrapper main .sns h3 {
  font-size: 20px;
  display: block;
  width: 50rem;
  margin-bottom: 2rem;
}
#wrapper main .sns img {
  width: 10%;
}
#wrapper main .sns .sns-contents {
  width: 80rem;
  height: 40rem;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  /*.sns-items閉じタグ*/
}
#wrapper main .sns .sns-contents .sns-items {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
#wrapper main .sns .sns-contents .sns-items .sns-item {
  width: 40rem;
}
#wrapper main .sns .sns-contents .sns-items .sns-item h3 {
  font-size: 26px;
  text-align: center;
  width: 40rem;
}
#wrapper main .sns .sns-contents .sns-items .sns-item .post-pictures {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  border: 2px solid #fff;
}
#wrapper main .sns .sns-contents .sns-items .sns-item .post-pictures .picture {
  width: 90%;
}
#wrapper main .sns .sns-contents .sns-items .sns-item .post-pictures img {
  width: 32%;
  border: 2px solid #fff;
}
#wrapper main .sns .sns-contents .sns-items .sns-item p {
  font-size: 18px;
  margin-top: 1rem;
  display: block;
  width: 80%;
  margin-left: 12%;
  margin-bottom: 4rem;
}
#wrapper main .sns .sns-contents .sns-items .sns-item .link {
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  margin-left: 14rem;
}
#wrapper main .sns .sns-contents .youtube img {
  width: 82%;
  margin-left: 10%;
}
#wrapper main .sns .sns-contents .follow {
  margin-top: 10rem;
  position: relative;
}
#wrapper main .sns .sns-contents .follow p {
  font-size: 24px;
  text-align: center;
}
#wrapper main .sns .sns-contents .follow img.SNSfollow {
  width: 30%;
  position: absolute;
  top: 4rem;
  left: 28rem;
}
#wrapper main .sns .sns-contents .follow .sns-icons {
  position: absolute;
  top: 7rem;
  left: 35rem;
}
#wrapper main .sns .sns-contents .follow .sns-icons img {
  width: 5%;
}
#wrapper main .usato {
  padding-bottom: 60rem;
}
#wrapper main .usato .red {
  color: #bc0808;
  font-size: 16px;
  margin-top: 10rem;
}
#wrapper main .usato h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 2rem;
}
#wrapper main .usato .usato-contents {
  display: flex;
  justify-content: center;
}
#wrapper main .usato .usato-contents .usato-text {
  width: 40%;
}
#wrapper main .usato .usato-contents .usato-text p {
  display: inline-block;
  width: 36rem;
  font-size: 18px;
  line-height: 1.8;
  margin: 6rem 0;
}
#wrapper main .usato .usato-contents .usato-text a {
  font-size: 18px;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2rem;
}
#wrapper main .usato .usato-contents .usato-text .usato-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#wrapper main .usato .usato-contents .dummy {
  width: 40rem;
  height: 42rem;
  background-color: #fff;
  margin-left: 2rem;
  position: relative;
}
#wrapper main .usato .usato-contents .dummy img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*wrapper閉じタグ*/
/*max-768px*/
@media screen and (max-width: 768px) {
  /*header*/
  header {
    /*.title-contents閉じ*/
  }
  header section nav {
    display: none;
  }
  header .title-contents {
    overflow: visible;
  }
  header .title-contents .slider {
    width: 294%;
    height: auto;
    box-sizing: border-box;
  }
  header .title-contents .slider img {
    width: 100%;
    height: auto;
  }

  /*header閉じ*/
}
/*@media768px閉じタグ*/
