@charset "UTF-8";
/*変数設定*/
/*
$font:;
*/
#wrapper > nav img {
  /*一時的に設定*/
  width: 10%;
}

.sns-icons img {
  width: 10%;
}

#wrapper {
  width: 100%;
  font-size: 12px;
  color: #000;
  box-sizing: border-box;
  /*header閉じタグ*/
  /*main閉じタグ*/
}
#wrapper header {
  height: 100vh;
  /*sectionの閉じタグ*/
  /*articleの閉じタグ*/
}
#wrapper header section {
  display: flex;
  justify-content: space-between;
  width: 80rem;
}
#wrapper header section h1 {
  display: inline-block;
  width: 10%;
  margin-left: 5%;
}
#wrapper header section h1 img {
  width: 100%;
}
#wrapper header section nav ul {
  display: flex;
  font-size: 140%;
  width: 28rem;
  margin-top: 1rem;
}
#wrapper header section nav ul li {
  margin-left: 5%;
}
#wrapper header article .title h2 {
  text-shadow: 1px 2px 3px #D0D0D0;
}
#wrapper header article .title h2 .smile {
  color: #ffd900;
}
#wrapper main .concept, #wrapper main .sns, #wrapper main .event {
  background: rgba(153, 171, 78, 0.3);
}
#wrapper main .concept, #wrapper main .item, #wrapper main .sns, #wrapper main .usato, #wrapper main .event, #wrapper main .column {
  height: 100vh;
}
#wrapper footer {
  height: 100vh;
}

/*wrapper閉じタグ*/
