@charset "UTF-8";
/*変数設定*/
/*
$font:;
*/
#wrapper > nav img {
  /*一時的に設定*/
  width: 10%;
}

.sns-icons img {
  width: 10%;
}

#wrapper {
  width: 100%;
  font-size: 12px;
  color: #000;
  box-sizing: border-box;
  /*header閉じタグ*/
  /*main閉じタグ*/
}
#wrapper header {
  height: 100vh;
  /*sectionの閉じタグ*/
  /*articleの閉じタグ*/
}
#wrapper header section {
  display: flex;
  justify-content: space-between;
  width: 85rem;
}
#wrapper header section h1 {
  display: inline-block;
  width: 50rem;
  margin: 1rem 0;
  margin-left: 5%;
}
#wrapper header section h1 img {
  width: 13%;
}
#wrapper header section nav ul {
  display: flex;
  font-size: 140%;
  width: 28rem;
  margin: 2rem 0;
}
#wrapper header section nav ul li {
  margin-left: 5%;
}
#wrapper header article .title h2 {
  text-shadow: 1px 2px 3px #D0D0D0;
}
#wrapper header article .title h2 .smile {
  color: #ffd900;
}
#wrapper header .title-contents {
  overflow: hidden;
}
#wrapper header .title-contents .slider {
  width: 80rem;
  height: 58.21em;
  box-sizing: border-box;
}
#wrapper header .title-contents .slider img {
  width: 90rem;
  height: auto;
}
#wrapper main {
  /*.concept閉じタグ*/
  /*.item閉じタグ*/
  /*.sns閉じタグ*/
}
#wrapper main .concept, #wrapper main .sns, #wrapper main .event {
  background: rgba(153, 171, 78, 0.3);
}
#wrapper main .concept, #wrapper main .item, #wrapper main .sns, #wrapper main .usato, #wrapper main .event, #wrapper main .column {
  height: 100vh;
}
#wrapper main .concept {
  position: relative;
}
#wrapper main .concept article {
  position: absolute;
  width: 50rem;
  height: 30rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  font-size: 22px;
}
#wrapper main .concept article h2 {
  text-align: center;
}
#wrapper main .concept article .concept_title {
  font-weight: bold;
  font-size: 18px;
}
#wrapper main .concept article .concept_title .concept_title::after {
  content: "";
  border: 10px solid lightgray;
}
#wrapper main .concept article .concept_title2 {
  font-size: 30px;
  margin: 1rem 0 3rem 0;
}
#wrapper main .concept article .botton {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#wrapper main .concept article .botton a {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: center;
}
#wrapper main .item {
  position: relative;
  /*.items-contents閉じタグ*/
}
#wrapper main .item .items-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60rem;
  height: 40rem;
  /*.item-images閉じタグ*/
}
#wrapper main .item .items-contents h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 6rem;
}
#wrapper main .item .items-contents .item-images {
  display: flex;
  justify-content: center;
  /*.item-content閉じタグ*/
}
#wrapper main .item .items-contents .item-images .item-content {
  margin: 0 1rem;
  /*.item-box閉じタグ*/
}
#wrapper main .item .items-contents .item-images .item-content img {
  width: 28rem;
  height: auto;
}
#wrapper main .item .items-contents .item-images .item-content .item-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
#wrapper main .item .items-contents .item-images .item-content .item-box h3 {
  font-size: 20px;
}
#wrapper main .item .items-contents .item-images .item-content .item-box p {
  font-size: 18px;
  background-color: rgba(245, 243, 242, 0.5);
  padding: 10px;
  text-align: right;
  display: block;
  width: 16rem;
}
#wrapper main .sns {
  position: relative;
}
#wrapper main .sns h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}
#wrapper main .sns .sns-text {
  display: flex;
  justify-content: center;
}
#wrapper main .sns .sns-text h3 {
  font-size: 20px;
  display: block;
  width: 60rem;
  height: 6rem;
  line-height: 1.2;
}
#wrapper main .sns h3 {
  font-size: 20px;
  display: block;
  width: 50rem;
}
#wrapper main .sns img {
  width: 10%;
}
#wrapper main .sns .sns-contents {
  width: 80rem;
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#wrapper main .sns .sns-contents .sns-items {
  display: flex;
  justify-content: space-between;
}
#wrapper main .sns .sns-contents .sns-items .sns-item {
  width: 30rem;
}

/*wrapper閉じタグ*/
